<div class="container border w-45">
  <div class="row p-2">
    <div class="col">
      <h5>{{ account.name }}</h5>

      <p>Status {{ account.status }}</p>
    </div>
    <div class="col">
      <div class="btn-group">
        <button class="btn btn-primary btn-sm" (click)="changeStatus('Active')">
          Active
        </button>
        <button class="btn btn-info btn-sm" (click)="changeStatus('InActive')">
          InActive
        </button>
        <button class="btn btn-success btn-sm" (click)="changeStatus('Hidden')">
          Hidden
        </button>
        <button class="btn btn-danger btn-sm" (click)="accountDeleted()">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
