<div class="card m-5" style="width: 15rem">
  <!-- <div class="card-header">{{ product.ProductName }}</div> -->
  <div class="card-body">
    <h4 class="card-title">{{ product.ProductName }}</h4>
    <h4 class="card-subtitle text-muted">{{ product.ProductDescription }}</h4>
    <h6 class="card-text">Just {{ product.ProductCost }} !!</h6>
    <p class="card-text">Hurry..only{{ product.ProductQuantity }} left!!</p>
    <!-- <a href="#" class="btn btn-outline-primary">Read more</a> -->
  </div>
  <!-- <div class="card-footer">this day last year</div> -->
</div>
