<div class="row">
  <div class="col">
    <form #f="ngForm">
      <div class="form-group">
        <label for="">Title </label>
        <input
          type="text"
          class="form-control"
          id="title"
          name="title"
          ngModel
          required
        />
      </div>
      <div class="form-group">
        <label for="content">Content</label>
        <textarea
          name="content"
          id=""
          cols="30"
          rows="10"
          class="form-control"
          ngModel
          required
        ></textarea>
      </div>
      <button
        class="btn btn-primary"
        type="submit"
        [disabled]="!f.valid"
        (click)="onCreatePost(f.value, f)"
      >
        Send Posts
      </button>
      <button class="btn btn-warning mx-2" (click)="onFetchPosts()">
        Fetch Posts
      </button>
      <button class="btn btn-danger mx-1" (click)="onDeletePosts()">
        Delete Posts
      </button>
    </form>
    <br />
    <div class="row m-3">
      <div class="col">
        <p *ngIf="dbPosts.length < 1 && !isFetching">No posts available</p>
        <ul class="list-group" *ngIf="dbPosts.length >= 1 && !isFetching">
          <app-blogpost
            *ngFor="let post of dbPosts"
            [post]="post"
          ></app-blogpost>
          <!-- <li class="list-group-item" *ngFor="let post of dbPosts">
            <h3>{{ post.title }}</h3>
            <p>{{ post.content }}</p>
          </li> -->
        </ul>
        <p *ngIf="isFetching && !errorMessage">Loading....</p>
        <div class="alert alert-danger" *ngIf="errorMessage">
          <h5>An error occured</h5>
          <p>{{ errorMessage }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
